<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
		<h2 class="page-header">User Login</h2>
		<button *ngIf="showHide" class="btn btn-alert"><a routerLink="/resend">Resend Activation Link</a></button>
			<form (submit)="onLoginSubmit()" role="form">
			
				<div class="form-group">
					<label for="">Username</label>
					<input [(ngModel)]="username" name="username" type="text" class="form-control">
				</div>

				<div class="form-group">
					<label for="">Password</label>
					<input [(ngModel)]="password" name="password" type="text" class="form-control">
				</div>
				<button type="submit" class="btn btn-primary">Login</button>
				<button (click)="fbLogin('facebook')" type="button" class="btn btn-primary">Facebook</button>
				<button (click)="twtLogin('facebook')" type="button" class="btn btn-info">twitter</button>
				<button (click)="googleLogin()" type="button" class="btn btn-warning">Google</button>
				


			</form>
			<a href="http://127.0.0.1:3000/auth/twitter" target="_blank">twitter</a>
		
		</div>
	</div>
</div>

