<div *ngIf="data" class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="panel panel-default">
				<div class="panel-body">
					<h3 class="page-header">User info</h3>
					<img [src]="data.user.social?.image" alt="" class="img-responsive img-thumbnail">
					<br>
					<ul  class="list-group">
						<li class="list-group-item">{{data.user.username}}</li>
						<li class="list-group-item">{{data.user.email}}</li>
						<li class="list-group-item">{{data.user.social?.provider}}</li>
						<li class="list-group-item">{{data.user.social?.social_id}}</li>
						<li class="list-group-item">{{data.user.social?.gender}}</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

